@keyframes spin {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}

.loading div { box-sizing: border-box !important; }

.loading > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: var(--inverted-bg-color) transparent;
    animation: spin 1s linear infinite;
}
.loading > div:nth-child(2) { border-color: transparent; }

.loading > div:nth-child(2) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.loading > div:nth-child(2) div::before,
.loading > div:nth-child(2) div::after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: var(--inverted-bg-color);
    border-radius: 50%;
    box-shadow: 0 128px 0 0 var(--inverted-bg-color);
}

.loading > div:nth-child(2) div::after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 var(--inverted-bg-color);
}

.loadingWrapper {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}

.loading {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
